.notification {
  height: 49px;
  color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.notification p {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 0px;
}

.notification.alert {
  background-color: #f44336;
}

.notification.info {
  background-color: #00bcd4;
}

table {
  width: 100%;
}

.mdl-data-table td {
  height: 0px !important;
  padding: 2px 18px !important;
}

tbody tr {
  height: 0px !important;
}
